global
  maxconn 4096
  #user haproxy
  #group haproxy

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http-in
  bind *:8001
  default_backend html
  acl is_orders path_beg /ordersDB
  acl is_interface path_beg /interface
  use_backend mongo if is_orders
  use_backend logstash if is_interface

backend html
  mode http
  server html1 172.17.0.1:81

backend mongo
  server mongo1 172.17.0.1:91

backend logstash
  server interface 172.17.0.1:2000
